[Unit]
Description=Clicker Game Backend
After=network.target

[Service]
Type=simple
WorkingDirectory={{ backend_dir }}
Environment=PATH=/usr/local/bin:/usr/bin:/bin
ExecStart=/usr/bin/env pm2-runtime start server.js --name {{ service_name }} --update-env --env production
Restart=on-failure
User=www-data
Group=www-data
Environment=NODE_ENV=production
Environment=DB_DIR=/var/lib/clicker

[Install]
WantedBy=multi-user.target
