{
  "log": {
    "loglevel": "warning"
  },
  "inbounds": [
    {
      "listen": "0.0.0.0",
      "port": 443,
      "protocol": "trojan",
      "settings": {
        "clients": [
          {
            "password": "{{ trojan_password }}"
          }
        ],
        "fallbacks": [
          {
            "dest": "127.0.0.1:80"
          }
        ]
      },
      "streamSettings": {
        "network": "tcp",
        "security": "tls",
        "tlsSettings": {
          "alpn": ["h2", "http/1.1"],
          "certificates": [
            {
              "certificateFile": "/etc/letsencrypt/live/{{ domain }}/fullchain.pem",
              "keyFile": "/etc/letsencrypt/live/{{ domain }}/privkey.pem"
            }
          ]
        }
      }
    }
{% if enable_vless and (vless_uuid | length > 0) %},
    {
      "listen": "0.0.0.0",
      "port": {{ vless_port }},
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "{{ vless_uuid }}"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "tcp",
        "security": "tls",
        "tlsSettings": {
          "alpn": ["h2", "http/1.1"],
          "certificates": [
            {
              "certificateFile": "/etc/letsencrypt/live/{{ domain }}/fullchain.pem",
              "keyFile": "/etc/letsencrypt/live/{{ domain }}/privkey.pem"
            }
          ]
        }
      }
    }
{% endif %}
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    },
    {
      "protocol": "blackhole",
      "settings": {},
      "tag": "blocked"
    }
  ]
}
