[Unit]
Description=Xray Service
After=network.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
ExecStart={{ xray_install_path }} run -config "{{ xray_config_path }}"
Restart=on-failure
RestartSec=5
User=root
Group=root
LimitNOFILE=1048576
TimeoutStopSec=10
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
